/*================================================
  GLOBAL STYLES
================================================*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #D73285;
}
li {
  list-style: none;
}

/*================================================
  HEADER
================================================*/

header {
  background: rgb(50,50,50);
  color: white;
  padding: 15px;
  position: fixed;
  height: 50px;
  width: 100%;
}

.header-container {
  margin: 0 auto;
  width: 1000px;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*================================================
  MAIN CONTAINER
================================================*/

.main-container {
  margin: 0 auto;
  padding-top: 50px;
  width: 1000px;
}

/*================================================
  PROJECT DESCRIPTION
================================================*/

.description-container {
  float: left;
  padding: 75px 50px 75px 0;
  text-align: justify;
  width: 55%;
}

h2.project-title {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
}

h3.date,
h3.date span.bold {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 40px;
}

h3.date span.bold,
p.project-description span.bold,
span.bold a,
p.status span.bold {
  font-weight: 700;
}

p.project-description,
p.issue {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 25px;
}

/*================================================
  APPLICATION
================================================*/

.circle-container {
  float: left;
  height: auto;
  padding-top: 100px;
  width: 45%;
}
#circle {
  border-radius: 50%;
  box-shadow: 0px 0px 50px 5px rgba(100,100,100,.75);
  display: flex;
  flex-direction: column;
  float: right;
  height: 400px;
  justify-content: center;
  margin-bottom: 90px;
  text-align: center;
  width: 400px;
}
h2.time {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-top: 45px;
  padding-bottom: 7px;
}
h3.hex-code {
  color: rgba(250,250,250,0.5);
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 3px;
}
#additional-information {
  clear: both;
  display: inline-block;
}
.issues-resolutions {
  border-bottom: 1px dashed rgb(150,150,150);
  text-align: right;
  margin-bottom: 40px;
  padding-bottom: 25px;
}
h2.sidebar-title {
  font-size: 20px;
  margin-bottom: 30px;
}
.issue-wrapper {
  padding-left: 10px;
  margin-bottom: 35px;
}
.issues-resolutions .issue-wrapper:last-child {
  margin-bottom: 0;
}
p.ticket a {
  font-weight: bold;
}
p.issue {
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 0;
}
p.status {
  font-size: 14px;
  margin-top: 5px;
  font-style: italic;
}

/*================================================
  OTHER INFORMATION
================================================*/

#other-information {
  border-bottom: 1px dashed rgb(150,150,150);
  padding-bottom: 25px;
  margin-bottom: 75px;
}
#other-information ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#other-information ul li {
  font-size: 14px;
}
#other-information ul li.link {
  font-weight: bold;
}
ul li.divider {
  color: rgba(150,150,150,0.75);
  font-weight: lighter;
  margin: 0 10px;
}

/*================================================
  EXTRAS
================================================*/

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-unselectable {
  color: rgb(100,100,100);
  cursor: not-allowed;
}
